<div class="widget-infografis card card-custom1">
  <div class="card-header">
    Infografis
  </div>
  <div class="card-body">
    <div id="infografisCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a class="chocolat-infografis" href="@@path/assets/img/infografis/infografis1.jpeg" title="Infografis 1">
            <img src="@@path/assets/img/infografis/infografis1.jpeg" class="d-block w-100" alt="infografis1">
          </a>
        </div>
        <div class="carousel-item">
          <a class="chocolat-infografis" href="@@path/assets/img/infografis/infografis2.jpg" title="Infografis 2">
            <img src="@@path/assets/img/infografis/infografis2.jpg" class="d-block w-100" alt="infografis2">
          </a>
        </div>
      </div>
      <a class="carousel-control-prev" href="#infografisCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#infografisCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</div>