<div class="widget-profile-sidebar card card-custom1">
  <div class="card-header">
    Profil
  </div>
  <div class="card-body">
    <ul>
      <li><a href="@@path/pages/profil/sejarah.html">Sejarah</a></li>
      <li><a href="@@path/pages/profil/visi-dan-misi.html">Visi dan Misi</a></li>
      <li><a href="@@path/pages/profil/tugas-dan-fungsi.html">Tugas dan Fungsi</a></li>
      <li><a href="@@path/pages/profil/struktur-organisasi.html">Struktur Organisasi</a></li>
      <li><a href="@@path/pages/profil/informasi-pejabat-struktural.html">Informasi Pejabat Struktural</a></li>
      <li><a href="@@path/pages/profil/informasi-pejabat-fungsional.html">Informasi Pejabat Fungsional</a></li>
      <li><a href="@@path/pages/profil/lokasi-kantor.html">Lokasi Kantor</a></li>
    </ul>
  </div>
</div>