// variables
$primary-color: #3596C6;
$secondary-color: #f2c12c;
$text-light-color: #efe4f6;
$text-light-color2: #eff4f6;
$text-dark-color: #333;
$text-dark-color2: #111;
$box-shadow: 0 2px 40px 8px rgba(15, 15, 15, .15);
$border-radius: 6px;
$transition: all .4s ease-in-out;
$breakpoint-tablet: 992px;
$breakpoint-phone: 576px;

// base
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Noto Sans JP", sans-serif !important;
  color: $text-dark-color;
  font-size: 15px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
  color: $text-dark-color !important;
}

h1, h2 {
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

// background
.background {
  opacity: .3;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

// text truncate
.truncate-overflow {
  &.truncate-3 {
    max-height: calc(.95rem * 4);
  }
  
  // --max-lines: 3;
  position: relative;
  max-height: calc(1.3rem * 4);
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}

.truncate-overflow::before {
  position: absolute;
  content: "";
  /* tempting... but shows when lines == content */
  /* top: calc(var(--lh) * (var(--max-lines) - 1)); */
  
  /*
  inset-block-end: 0;
  inset-inline-end: 0;
  */
  bottom: 0;
  right: 0;
}

.truncate-overflow::after {
  content: "";
  position: absolute;
  /*
  inset-inline-end: 0;
  */
  right: 0;
  /* missing bottom on purpose*/
  width: 1rem;
  height: 1rem;
  background: white;
}

// from vendor
// chocolat
.chocolat-wrapper {
  z-index: 9999;

  .chocolat-overlay {
    background-color: #000;
  }
}

// swiper
.gallery-photo {
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

// mixin
@mixin responsive($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}
