<footer class="footer mb-1">
  <div class="row row-cols-1 row-cols-lg-5 g-2 footer-first shadow">
    <div class="col footer-contact">
      <h4 class="text-center mb-4">Kontak</h4>
      <div class="row">
        <div class="footer-contact__title">
          <span>Alamat :</span>
        </div>
        <div class="footer-contact__content">
          <p>
            Gedung Ditjen Sumber Daya Air <br> JL. Pattimura 20, Kebayoran Baru <br> Jakarta - Indonesia - 12110
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="footer-contact__title">
          <span>Telepon/Fax :</span>
        </div>
        <div class="footer-contact__content">
          <p>
            (021)-7396616 (Hunting)
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="footer-contact__title">
          <span>Email :</span>
        </div>
        <div class="footer-contact__content">
          <p>
            kompusda@pu.go.id <br> kompu.sda@gmail.com
          </p>
        </div>
      </div>
    </div>
    <div class="col footer-unit">
      <h4 class="text-center mb-4">Unit</h4>
      <ul>
        <li><a href="#">Unit Hidrologi</a></li>
        <li><a href="#">Unit SISDA</a></li>
        <li><a href="#">Rekomtek</a></li>
        <li><a href="#">Unit Desain</a></li>
        <li><a href="#">PPNS</a></li>
        <li><a href="#">PPID</a></li>
        <li><a href="#">Unit Kepatuhan Internal</a></li>
      </ul>
    </div>
    <div class="col footer-socmed">
      <h4 class="text-center mb-4">Media Sosial</h4>
      <div class="footer-socmed__list">
        <a href="#">
          <img src="@@path/assets/img/sdatv.png" alt="sdatv">
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <div class="footer-socmed__statistic mt-3">
        <h6 class="text-center">Statistik Pengunjung</h6>
        <ul>
          <li>
            <span><i class="fas fa-user-plus"></i> Hari ini</span>
            <span>999</span>
          </li>
          <li>
            <span><i class="fas fa-user-circle"></i> Kemarin</span>
            <span>999</span>
          </li>
          <li>
            <span><i class="fas fa-globe"></i> Online</span>
            <span>999</span>
          </li>
          <li>
            <span><i class="fas fa-users"></i> Total</span>
            <span>999</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col footer-publication">
      <h4 class="text-center mb-4">Publikasi</h4>
      <ul>
        <li><a href="#" target="_blank">Rencana Strategis</a></li>
        <li><a href="#" target="_blank">Review Renstra 2015-2019</a></li>
        <li><a href="#" target="_blank">LAKIP</a></li>
        <li><a href="#" target="_blank">Peraturan Perundang - Undangan</a></li>
        <li><a href="#" target="_blank">Layanan Informasi Publik</a></li>
        <li><a href="#" target="_blank">Majalah Air</a></li>
        <li><a href="#" target="_blank">Infografis</a></li>
        <li><a href="#" target="_blank">Kondisi Muka Air Waduk &amp; Embung</a></li>
        <li><a href="#" target="_blank">Pola Wilayah Sungai</a></li>
        <li><a href="#" target="_blank">JDIH PUPR</a></li>
        <li><a href="#" target="_blank">e-PPID PUPR</a></li>
        <li><a href="#" target="_blank">LHKPN PUPR</a></li>
        <li><a href="#" target="_blank">Kamus SDA</a></li>
        <li><a href="#" target="_blank">Revisi Review Renstra 2015 - 2019</a></li>
        <li><a href="#" target="_blank">Jurnal Sumber Daya Air</a></li>
      </ul>
    </div>
    <div class="col footer-related-links">
      <h4 class="text-center mb-4">Link Terkait</h4>
      <div class="row row-cols-5 row-cols-lg-3 g-3">
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/dewansda.jpg" alt="dewansda" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/knibb.jpg" alt="knibb" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/ina-water.jpg" alt="ina-water" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/hathi.jpg" alt="hathi" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/bnbp.jpg" alt="bnbp" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/badan-informasi-geospatial.jpg" alt="badan-informasi-geospatial" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/lingkungan-hidup-kehutanan.jpg" alt="lingkungan-hidup-kehutanan" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/pertanian.jpg" alt="pertanian" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/energi-sumber-daya-mineral.jpg" alt="energi-sumber-daya-mineral" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/bmkg.jpg" alt="bmkg" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/bps.jpg" alt="bps" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/bappenas.jpg" alt="bappenas" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/icid.jpg" alt="icid" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/ksp.jpg" alt="ksp" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <a href="#">
            <img src="@@path/assets/img/related-links/lkpp.jpg" alt="lkpp" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer-second">
    <span>Hak Cipta © 2020 Balai Wilayah Sungai Kalimantan II, All Rights Reserved.</span>
  </div>
</footer>