<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="@@path/index.html">
      <img src="@@path/assets/img/logo-pu.png" alt="logo-pu" class="logo-pu">
      <div class="logo-text">
        <span>KEMENTERIAN PEKERJAAN UMUM DAN PERUMAHAN RAKYAT</span>
        <span>DIREKTORAT JENDERAL SUMBER DAYA AIR</span>
        <span>BALAI WILAYAH SUNGAI KALIMANTAN II</span>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="@@path/index.html">Beranda</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Profil <i class="fas fa-angle-down ml-1"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="@@path/pages/profil/sejarah.html">Sejarah</a></li>
            <li><a class="dropdown-item" href="@@path/pages/profil/visi-dan-misi.html">Visi dan Misi</a></li>
            <li><a class="dropdown-item" href="@@path/pages/profil/tugas-dan-fungsi.html">Tugas dan Fungsi</a></li>
            <li><a class="dropdown-item" href="@@path/pages/profil/struktur-organisasi.html">Struktur Organisasi</a></li>
            <li><a class="dropdown-item" href="@@path/pages/profil/informasi-pejabat-struktural.html">Informasi Pejabat Struktural</a></li>
            <li><a class="dropdown-item" href="@@path/pages/profil/informasi-pejabat-fungsional.html">Informasi Pejabat Fungsional</a></li>
            <li><a class="dropdown-item" href="@@path/pages/profil/lokasi-kantor.html">Lokasi Kantor</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Satuan Kerja <i class="fas fa-angle-down ml-1"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="@@path/pages/satuan-kerja/satker-bws-kalimantan-2.html">SATKER BWS Kalimantan II</a></li>
            <li><a class="dropdown-item" href="@@path/pages/satuan-kerja/snvt-pjsa-ws-barito-prov-kalsel.html">SNVT PJSA WS Barito Prov. KALSEL</a></li>
            <li><a class="dropdown-item" href="@@path/pages/satuan-kerja/snvt-pjpa-ws-barito-prov-kalsel.html">SNVT PJPA WS Barito Prov. KALSEL</a></li>
            <li><a class="dropdown-item" href="@@path/pages/satuan-kerja/satker-op-sda-kalimantan-2.html">SATKER OP SDA Kalimantan II</a></li>
            <li><a class="dropdown-item" href="@@path/pages/satuan-kerja/snvt-pembangunan-bendungan-bws-kalimantan-2.html">SNVT Pembangunan Bendungan BWS Kalimantan II</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Wajib Balai <i class="fas fa-angle-down ml-1"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="@@path/pages/wajib-balai/pbmn.html">PBMN</a></li>
            <li class="has-submenu">
              <a class="dropdown-item" href="#">Sistem Manajemen Mutu <i class="fas fa-angle-right"></i></a>
              <ul class="submenu">
                <li><a href="@@path/pages/wajib-balai/sistem-manajemen-mutu/profil-smm-bws-kalimantan-2.html">Profil SMM BWS Kalimantan II</a></li>
                <li><a href="@@path/pages/wajib-balai/sistem-manajemen-mutu/pelaksanaan-smm.html">Pelaksanaan SMM (SATUAN KERJA / SNVT PJSA WS BARITO PROV KALSEL)</a></li>
                <li><a href="@@path/pages/wajib-balai/sistem-manajemen-mutu/pelaksanaan-smm-pembangunan-bendungan.html">Pelaksanaan SMM (SATUAN KERJA / SNVT Pembangunan Bendungan)</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="@@path/pages/wajib-balai/hidrologi.html">Hidrologi</a></li>
            <li><a class="dropdown-item" href="@@path/pages/wajib-balai/ppns.html">PPNS</a></li>
            <li><a class="dropdown-item" href="@@path/pages/wajib-balai/rekomtek.html">Rekomtek</a></li>
            <li><a class="dropdown-item" href="@@path/pages/wajib-balai/sisda.html">SISDA</a></li>
            <li><a class="dropdown-item" href="@@path/pages/wajib-balai/tkpsda.html">TKPSDA</a></li>
            <li><a class="dropdown-item" href="@@path/pages/wajib-balai/pai.html">PAI</a></li>
            <li><a class="dropdown-item" href="@@path/pages/wajib-balai/gnkpa.html">GNKPA</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Informasi Publik <i class="fas fa-angle-down ml-1"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="@@path/pages/informasi-publik/berita.html">Berita</a></li>
            <li><a class="dropdown-item" target="_blank" href="https://eppid.pu.go.id/">Layanan Informasi Publik (e-PPID)</a></li>
            <li><a class="dropdown-item" target="_blank" href="http://jdih.pu.go.id/">Produk Hukum PUPR (JDIH)</a></li>
            <li><a class="dropdown-item" href="@@path/pages/informasi-publik/pola-wilayah-sungai.html">Pola Wilayah Sungai</a></li>
            <li><a class="dropdown-item" href="@@path/pages/informasi-publik/rencana-strategis.html">Rencana Strategis (RENSTRA)</a></li>
            <li><a class="dropdown-item" href="@@path/pages/informasi-publik/lakip.html">LAKIP</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            WS <i class="fas fa-angle-down ml-1"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="@@path/pages/ws/ws-barito.html">WS Barito</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Aplikasi <i class="fas fa-angle-down ml-1"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="#">e-Pelaporan</a></li>
            <li><a class="dropdown-item" href="#">TNDE (Persuratan)</a></li>
            <li><a class="dropdown-item" href="#">Perancanaan dan Penganggaran</a></li>
            <li><a class="dropdown-item" href="#">Pelayanan Perizinan</a></li>
            <li><a class="dropdown-item" href="#">Data Sumber Daya Air</a></li>
            <li><a class="dropdown-item" href="#">Sekretariat Ditjen SDA</a></li>
            <li><a class="dropdown-item" href="#">Operasi dan Pemeliharaan</a></li>
            <li><a class="dropdown-item" href="#">Air Tanah dan Air Baku</a></li>
            <li><a class="dropdown-item" href="#">Irigasi, Rawa dan Tambak</a></li>
            <li><a class="dropdown-item" href="#">Pusat Bendungan</a></li>
            <li><a class="dropdown-item" href="#">Informasi Hidrologi</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
            Galeri <i class="fas fa-angle-down ml-1"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="@@path/pages/galeri/galeri-foto.html">Galeri Foto</a></li>
            <li><a class="dropdown-item" href="@@path/pages/galeri/galeri-video.html">Galeri Video</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="@@path/pages/sitemap.html">Sitemap</a>
        </li>
      </ul>
    </div>
  </div>
</nav>