<div class="topbar">
  <div class="container d-flex justify-content-between">
    <a href="#" class="d-flex align-items-center">
      <img src="@@path/assets/img/logo-pu-net.png" alt="pu-net" class="logo-pu-net">
      <span class="font-bold topbar-logo"><strong>PU-Net</strong></span>
    </a>
    <div class="d-flex align-items-center">
      <small class="text-light topbar-date"></small>
      <a href="#">
        <img src="@@path/assets/img/sdatv.png" alt="sdatv" class="logo-sdatv">
      </a>
    </div>
  </div>
</div>